
<h1>{{category.type}}</h1>
{{#each category.listings as |listing|}}
<h2>{{listing.title}}</h2>
<h4>{{listing.user}}</h4>
<h4>{{listing.email}}</h4>
<h4>{{listing.date}}</h4>
<h3>{{listing.body}}</h3>


{{/each}}
{{admin-new-listing saveListing='saveListing' category=category}}
