{{yield}}
<li>{{#link-to 'listing' listing.id}}{{listing.title}}{{listing.user}}{{listing.body}}{{listing.date}}{{/link-to}}</li>
<button class='btn btn-sm btn-danger' {{action 'delete' listing}}>Delete Listing</button>
