{{outlet}}
<h2>Categories:</h2>
{{#each model.categories as |category|}}
  {{admin-category-tile category=category update="update" destroyCategory='destroyCategory'}}
{{/each}}

{{admin-new-category saveCategory="saveCategory"}}

<h2>Listings:</h2>
{{#each model.listings as |listing|}}
{{admin-listing-tile listing=listing destroyListing="destroyListing"}}
{{/each}}

{{admin-new-listing saveListing="saveListing"}}
